<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800936339408-oqlnjvp62cskub55g3njja8969a2rlmt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800936339408-oqlnjvp62cskub55g3njja8969a2rlmt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800936339408-49di7g6o6eeeeooobug2fb5hf59tjla9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_BqWHcCMkIndPxglwAzoZF0ucssPMpLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>800936339408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maf.moneyhero</string>
	<key>PROJECT_ID</key>
	<string>api-project-800936339408</string>
	<key>STORAGE_BUCKET</key>
	<string>api-project-800936339408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800936339408:ios:f0ac6788df563610</string>
	<key>DATABASE_URL</key>
	<string>https://api-project-800936339408.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-9587898460919430~5176058508</string>
</dict>
</plist>